<form action="/coin/new" method="POST">
  <%= display_error %>
  <label>Advice:</label>
  <input type="text" name="coin[content]" placeholder="Keep it under 140 characters." /><br>
  <button type="submit" class="button default" value="Submit">Submit!</button>
</form>
