<h2 class="text-center index-prompt">CLICK 'N' TO GET COINS</h2>
<div class="small-8 small-centered columns vert-container">
  <div class="graphic-index">
    <p id="coin-advice"><%= "@random_coin.content" %></p>
  </div>
</div>
